<form [formGroup]="bookingForm" class="card" (ngSubmit)="book()">
  <h3>Book Appointment</h3>

  <!-- Doctor -->
  <select formControlName="doctor_id">
    <option value="">Select Doctor</option>
    <option *ngFor="let d of doctors" [value]="d.id">
      {{ d.name }} - {{ d.specialization }}
    </option>
  </select>

  <div *ngIf="bookingForm.get('doctor_id')?.touched && bookingForm.get('doctor_id')?.invalid">
    <small>Doctor is required</small>
  </div>

  <!-- Date -->
  <input
    type="date"
    formControlName="date"
    [min]="today"
  />

  <div *ngIf="bookingForm.get('date')?.touched && bookingForm.get('date')?.invalid">
    <small>Date is required</small>
  </div>

  <!-- Time -->
  <input
    type="time"
    formControlName="time"
  />

  <div *ngIf="bookingForm.get('time')?.touched && bookingForm.get('time')?.invalid">
    <small>Time is required</small>
  </div>

  <button type="submit" [disabled]="bookingForm.invalid">
    Book
  </button>
</form>

<button (click)="goToHistory()">View History</button>
