<h2>Book Appointment</h2>

<div *ngIf="doctor">
  <p><b>Doctor:</b> {{ doctor.name }}</p>

  <input type="date" [(ngModel)]="date">
  <input type="time" [(ngModel)]="time">

  <button (click)="book()">Book</button>
</div>

<hr>

<h3>My Appointments</h3>

<table>
  <tr>
    <th>Doctor</th>
    <th>Date</th>
    <th>Time</th>
    <th>Status</th>
    <th>Action</th>
  </tr>

  <tr *ngFor="let a of history">
    <td>{{ a.doctor_name }}</td>
    <td>{{ a.appointment_date }}</td>
    <td>{{ a.time_slot }}</td>
    <td>{{ a.status }}</td>
    <td>
      <button *ngIf="a.status === 'BOOKED'"
              (click)="cancel(a.id)">
        Cancel
      </button>
    </td>
  </tr>
</table>
